.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

secret-cf-token.yaml

scripts/static-ip-single-service/http/deploy.sh
scripts/static-ip-single-service/http/destroy.sh
scripts/static-ip-single-service/tls/deploy.sh
scripts/static-ip-single-service/tls/destroy.sh
scripts/create-container-registry.sh